# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
*.env

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/
migrations/
*/migrations/

# IDE / Editor
.vscode/
.idea/
.DS_Store
